<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="container flex padding">
      <a href="/"> <button>Go To Home page</button> </a>
      <a href="/articles/new"> <button>Add New Article</button> </a>
      <a href="/articles"> <button>list of articles</button> </a>
    </header>
    <section class="container parent">
      <div  class="singleArticle">
        <h2><%=articles.title%></h2>
        <h3 ><%=articles.author%></h3>
        <p ><%=articles.description%></p>
        <p>Likes <%=articles.likes ? articles.likes : 0 %></p>

        <a href="/articles/<%=articles.id%>/likes">
          <button >Like</button>
        </a>

        <a href="/articles/<%=articles.id%>/dislikes">
          <button ">dislike</button>
        </a>

        <a href="/articles/<%=articles.id%>/edit">
          <button ">Edit</button>
        </a>

        <a href="/articles/<%=articles.id%>/delete">
          <button >delete</button>
        </a>
      </div>

<!-- comment -->
      <div class="comments">
        <form action="/articles/<%=articles.id%>/comments" method="POST">
        
            <textarea  name="content" id="" cols="40" placeholder="Message..." rows="6"></textarea><br>
            <input class="submit" type="submit">
        </form>
    </div>

      <div >
        <h2 >Comments...</h2>
        <% comments.forEach((comment) => {%>
            <div class="comment" >
                <p ><%= comment.content%></p>
                
                <div class="">
                    <a href="/comments/<%=comment.id%>/edit" >
                        <button >Edit</button>
                    </a>
            
                    <a href="/comments/<%=comment.id%>/delete" >
                        <button>Delete</button>
                    </a>
                </div>
            </div>
        <%})%>
    </div>
    </section>
  </body>
</html>