<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex">
        <a href="/articles"><button>List of All Articles</button> </a>
        <a href="/articles/<%=articles.id%>"> <button>Back</button></a>
      </div>
    </header>

    <form action="/articles/<%=articles.id%>" method="POST">
      <h2>Submit the Article</h2>
      <input type="text" name="title" value="<%=articles.title%>" />
      <input type="text" name="author" value="<%=articles.author%>" />
      <textarea name="description" id="" cols="30" rows="10">
<%=articles.description%></textarea
      >
      <input type="number" name="likes" value="<%=articles.likes%>" />
      <input type="submit" />
    </form>
  </body>
</html>
